// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Game Style */
#gameholder {
  position: absolute;
  left: 50%;
  margin-left: -400px;
  padding-top: 60px;
  padding-bottom: 40px;
}

#gameholder img {
  border-radius: 6px;
  border: 5px rgba(255,255,255,0.5) solid;
}

/* Navigation */
nav#game #logo {
  margin-left: -130px;
  cursor: pointer;
}

nav#game {
  position: relative;
}

nav#game .navbar-inner {
  height: 60px;
  background: url(asset_path('navbar-bg.jpg', image)) top left repeat-x;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

@media (min-height: 720px) {
  nav#game #logo {
    margin-left: 0px;
  }

}

.account {
  font-family: 'ABeeZee';
  color: #ffefb7;
  font-size: 12pt;  
  margin-top: 7px;

  width: 156px;
  height: 44px;
  background: url(asset_path('userbtn.png', image)) top left no-repeat;
  padding: 7px;
  padding-left: 10px;
}